DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False
DJANGO_REFERRER_POLICY=same-origin
DJANGO_SECURE_PROXY_SSL_HEADER=False
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_EMAIL_HOST=localhost
DJANGO_EMAIL_PORT=25
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_EMAIL_USE_TLS=False
DJANGO_EMAIL_USE_SSL=False
DJANGO_DEFAULT_FROM_EMAIL=Rentify <no-reply@rentify.local>
DRF_ANON_THROTTLE_RATE=120/min
DRF_USER_THROTTLE_RATE=600/min
DRF_AUTH_REGISTER_THROTTLE_RATE=10/hour
DRF_AUTH_LOGIN_THROTTLE_RATE=20/hour
RENTIFY_MAX_ROOM_IMAGE_SIZE_MB=5
RENTIFY_ROOM_IMAGE_LIMIT=12
RENTIFY_ALLOWED_ROOM_IMAGE_TYPES=image/jpeg,image/png,image/webp
POSTGRES_DB=student_housing
POSTGRES_USER=student_housing
POSTGRES_PASSWORD=student_housing
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_TEST_DB=test_student_housing
# GDAL_LIBRARY_PATH=C:\OSGeo4W\bin\gdal.dll
# GEOS_LIBRARY_PATH=C:\OSGeo4W\bin\geos_c.dll
DJANGO_SITE_DOMAIN=127.0.0.1:8000
DJANGO_SITE_NAME=Rentify Local
# GOOGLE_OAUTH_CLIENT_ID=
# GOOGLE_OAUTH_CLIENT_SECRET=
# FACEBOOK_OAUTH_CLIENT_ID=
# FACEBOOK_OAUTH_CLIENT_SECRET=
